body {
    display: grid;
    grid-template-rows: .2fr .2fr auto;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

header, .button-container, .open-button, .read-status, .submit-btn, .cancel-btn {
    font-family: sans-serif;
}

.card-container {
    font-family: Arial, Helvetica, sans-serif
}
header {
    background-color: #8EA8C3;
    font-size: 40px;
}

header, .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    background-color: #406E8E;
}
.open-button {
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 50px;
    width: 150px;
    gap: 10px;
    border-radius: 5%;
    box-shadow: 7px 7px 10px -5px;
    border: none;
    font-size: 20px;
    background-color: #8EA8C3;

    /* text-shadow: 1px 1px #c1c1c1; */
}

/* .open-button:hover {
    background-color: #CBF7ED;
} */

.open-button:active {
    transform: scale(0.99);
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: inset -1px -1px 2px 2px; */
    /* border-radius: 5%; */

}


.plus {
    font-size: 25px;
    font-weight: bold;
    margin-top: -3px;
}

/* body */
.content {
    display: grid;
    grid-template-rows: auto auto auto auto;
    background-color: lightcoral;
}

#library-grid {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #23395B;
}

.book-container {
    background-color: #BAD1CD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px; 
    height: 200px; 
    gap: 10px;
    border-radius: 10%;
    box-shadow: 5px 5px 5px 3px #0b1f42;
}

.book-title {
    margin-top: auto;
    font-style: italic;
}

.read-status {
    margin-top: auto; 
    height: 35px;
    width:  80px;
    margin-bottom: 10px;
    border-radius: 5%;
    box-shadow: 2px 2px 2px -2px;
    background-color: #8EA8C3;
}

.delete-button {
    background-image: url('trash-can-solid.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 40px;
    height: 30px;
    margin-bottom: 5px;
    border: 0;
    background-color: #BAD1CD;
}

  
/* form pop-up */
.form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -125px; 
    margin-top: -120px;
}


.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px; 
    width: 250px;
    padding: 10px;
    background-color: #8EA8c3;
    border-radius: 2%;
    border: 3px solid #406E8E;
}

.submit-btn {
    background-color: #CBF7ED;
}

.submit-btn, .close-btn {
    height: 33px;
    font-weight: bold;
}

input[type=text], input[type=number] {
    border: 2px solid black;
    background: #f1f1f1;
    height: 30px;
}

/* 
label[for='title'], label[for='author'] {
    font-weight: bold;

} */